<!DOCTYPE html>
<html lang="uk-UA">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="На Урок!">
<meta name="msapplication-TileColor" content="#5362c2">
<meta name="facebook-domain-verification" content="9rk85qao66qua0tv6q7wqsh2d1v8nx">
<link rel="icon" href="favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="manifest" href="manifest_push.json">
<meta name="csrf-param" content="_csrf">
<meta name="csrf-token" content="YQSnc3hSoc9vqcv789HY0-uoENt4unRZomnayhm3mqETfusXMCTCvwziqZa5mJLh3_wpuh7pHx_2PuiFdvHiyA==">
<title>Всеукраїнська інтернет-олімпіада «На Урок»</title>
<meta name="google-site-verification" content="_PAYSIZqXxorQuFLK8-yW4jkm-0L1wmWwzeF7nncqtU">
<meta name="p:domain_verify" content="e271d058d4ce5f3f27e95941cca71b49">

<script async="" src="gtag/js?id=UA-108352460-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-108352460-1');
</script>

<script nonce="NBEUuxqg">
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');

fbq('init', '2848658688748262');
fbq('set','agent','tmgoogletagmanager', '2848658688748262');
fbq('track', "PageView");
</script>
<noscript><img height="1" width="1" style="display:none" src="tr?id=2848658688748262&ev=PageView&noscript=1"></noscript>

<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KV2LQMH');</script>

<meta name="description" content="Запрошуємо до участі в безкоштовному предметному конкурсі «На Урок»  вчителів харківських загальноосвітніх навчальних закладів.">
<meta name="keywords" content="запрошуємо, участі, в, безкоштовних, предметних, інтернет, конкурсі, учнів, та, вчителів, загальноосвітніх, навчальних, закладів">
<meta name="author" content="Освітній проект «На Урок»">
<meta property="og:title" content="Харківський конкурс «На Урок»">
<meta property="og:description" content="Запрошуємо до участі в безкоштовному предметному конкурсі «На Урок»  вчителів харківських загальноосвітніх навчальних закладів.">
<meta property="og:type" content="website">
<meta property="og:url" content="https://naurok.com.ua/olimpiada">
<meta property="og:image" content="https://naurok.com.ua/uploads/olymp/19/">
<meta property="og:image:width" content="700">
<meta property="og:image:height" content="368">
<meta property="fb:app_id" content="589149888143238">
<meta property="og:locale" content="uk_UA">
<link href="olimpiada.html" rel="canonical">
<link href="assets/f0db75bd7fb3b61fd5c2b967f1a77e3e/css/bootstrap.css" rel="stylesheet">
<link href="css/site.full.css?v1.37.11" rel="stylesheet">
<link href="css/latest.css?v13.16" rel="stylesheet">

<script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '186487121900322');
        fbq('track', 'PageView');
    </script>
<noscript><img height="1" width="1" style="display:none" src="tr-1?id=186487121900322&ev=PageView&noscript=1"></noscript>

</head>
<body><div class="header-promo-webinar hidden-xs" style="    font-weight: bold;
    background: #006cb7;
    padding: 5px;
    text-align: center;
    color: #ffef00;
    font-size: 15px;
    text-transform: uppercase;">
<div style="font-weight:bold;">ЗБЕРІГАЄМО СПОКІЙ. ВІРИМО В ЗСУ. РАЗОМ ДО ПЕРЕМОГИ!
</div>
</div>

<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KV2LQMH" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<div id="fb-root"></div>
<script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/uk_UA/sdk.js#xfbml=1&version=v2.12&appId=202494839791576';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<nav id="w0" class="navbar-inverse navbar-static-top main-nav navbar"><div class="container-fluid"><div class="navbar-header"><button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#w0-collapse"><span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span></button><a class="navbar-brand" href="/"><img src="img/logo4.png" height="47" alt="На Урок для вчителя"></a></div><div id="w0-collapse" class="collapse navbar-collapse"><ul id="w1" class="navbar-nav nav"><li class="menu-item"><a href="https://naurok.com.ua/journal">Журнал</a></li>
<li class="menu-item"><a href="https://naurok.com.ua/biblioteka">Бібліотека</a></li>
<li class="menu-item"><a href="https://naurok.com.ua/test">Тести</a></li>
<li class="menu-item"><a href="https://naurok.com.ua/assistant">Помічник <sup style="color:red; font-weight:bold;">AI</sup></a></li>
<li class="menu-item dropdown dropdown"><a class="dropdown-toggle" href="/upgrade" data-toggle="dropdown">Підвищення кваліфікації <span class="caret"></span></a><ul id="w2" class="dropdown-menu"><li><a href="https://naurok.com.ua/upgrade" tabindex="-1">Всі можливості</a></li>
<li><a href="https://naurok.ua/student/webinars" tabindex="-1">Вебінари</a></li>
<li><a href="https://naurok.com.ua/conference" tabindex="-1">Конференції</a></li>
<li><a href="https://naurok.ua/courses" tabindex="-1">Курси</a></li></ul></li>
<li class="menu-item"><a href="https://naurok.ua/student/events">Олімпіади</a></li>
<li class="menu-item active"><a href="index.html">Конкурси</a></li>
<li class="menu-item dropdown dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Інше <span class="caret"></span></a><ul id="w3" class="dropdown-menu"><li class="menu-item"><a href="https://naurok.com.ua/chat" tabindex="-1">Чат <sup style="color:red; font-weight:bold;">AI</sup></a></li>
<li><a href="https://naurok.com.ua/labs" tabindex="-1">Лабораторні</a></li>
<li><a href="https://naurok.com.ua/project" tabindex="-1">Проєкти</a></li></ul></li>
<li class="menu-item search-menu-item"><a class="head-search-icon" href="javascript:void(0)" onclick="$('.head-search-input').show(); $('.menu-item').hide();"></a></li>
<li><form class="navbar-form head-search-input" action="/site/search" role="search">
<div class="head-search-group">
<input type="text" name="q" placeholder="Введіть запит" class="form-control" value="">
<button class="head-search-button">&nbsp;</button>
<span onclick="$('.head-search-input').hide();  $('.menu-item').show();" class="close-search-form">×</span>
</div>
</form></li></ul><ul id="w4" class="navbar-nav navbar-right nav"><li class="hidden-sm"><a href="https://naurok.ua/start">Я учень</a></li>
<li><a href="https://naurok.com.ua/login">Вхід</a></li>
<li class="hidden-sm"><a href="https://naurok.com.ua/registration">Реєстрація</a></li></ul></div></div></nav>
<div class="event-olymp6" ng-app="olymp" ng-controller="OlympCtrl">
<div class="container-fluid">
<div class="row">
<div class="col-md-12">
<main class="olymp">
<section class="container olymp-hero" style="background:#fff;  background-position: top left; background-size: 176px 205px;">
<div class="row olymp-hero__row">
<div class="col-md-5 col-md-offset-1 olymp-hero__description">
<span class="olymp-hero__subtitle">Участь безкоштовна</span>
<h1 class="olymp-hero__title">Харківський інтернет-конкурс для вчителів-користувачів платформи   <nobr>«На Урок»</nobr> (Осінь 2023)</h1>

<button class="btn btn-orange olymp-btn olymp-btn--orange"><a href="https://docs.google.com/forms/d/e/1FAIpQLSe9-Tmqt4l-cutxLui1Asfb1maLdjC-InqaKrJqyogCI5RzvQ/viewform?usp=sf_link">ЗАРЕЄСТРУВАТИСЯ</a></button>
</div>
<div class="col-md-6 olymp-hero__image">
<div id="olymp-top" style=""> <img width="100%" src="uploads/olymp/19/top_json.svg"></div>
</div>
</div>
<div class="row">
<div class="col-xs-12 col-sm-10 col-sm-offset-1">
<div class="olymp-hero__process">
<div class="olymp-hero__process-item olymp-hero__process-item--current">
<span class="olymp-hero__process-item-text">Реєстрація</span>
<div class="olymp-hero__process-item-indicator">
</div>
<span class="olymp-hero__process-item-text">01.10 - 17.10</span>
</div>
<div class="olymp-hero__process-item">
<span class="olymp-hero__process-item-text">Проведення конкурсу</span>
<div class="olymp-hero__process-item-indicator">
</div>
<span class="olymp-hero__process-item-text">17.10 - 17.11</span>
</div>
<div class="olymp-hero__process-item">
<span class="olymp-hero__process-item-text">Результати</span>
<div class="olymp-hero__process-item-indicator">
</div>
<span class="olymp-hero__process-item-text">18.11 - 19.11</span>
</div>
<div class="olymp-hero__process-item">
<span class="olymp-hero__process-item-text">Росподіл призів</span>
<div class="olymp-hero__process-item-indicator">
</div>
<span class="olymp-hero__process-item-text">20 листопада</span>
</div>
</div>
</div>
</div>
</section>
<section class="container olymp-about">
<div class="row">
<div class="col-md-5 col-md-offset-1">
<img src="img/olymp8/illustration-2.svg?2" alt="" class="img-fluid">
</div>
<div class="col-md-5">
<h3>Запрошуємо до участі в безкоштовному предметному конкурсі «На Урок»  вчителів харківських загальноосвітніх навчальних закладів.</h3>
<p>Інтернет-конкурс - це винагорода за користування нашим сервісом. Вже півроку ми проводимо цей конкурс по всій країні, і ось дійшла черга до Харкова - міста героя. </p>
<p>Для участі в конкурсі, Вам потрібно заповнити форму (Натиснувши на кнопку "ЗАРЕЄСТРУВАТИСЯ" на початку сторінки) та продовжувати використовувати наш сервіс під час проведення акції.</p>
<p>Ми дякуємо за вашу довіру платформі "На Урок". Слава Україні! Героям слава!&nbsp;</p> </div>
</div>
</section>
<section class="container olymp-list">
<div class="row">
<div class="col-xs-12 text-center">
<h3>Розділ олімпіад</h3>
</div>
</div>
<div class="row">
<div class="col-sm-6 col-md-4">
<div class="link-register" ng-click="getGrades(467);" ng-class="{'active': event_id == 467}">
<div class="olymp-list__item elevation-1 border-3">
<img class="olymp-list__item-img" src="img/olymp6/img-list-1.svg">
<span class="olymp-list__item-title">Я досліджую світ</span>
<span class="olymp-list__item-range">
<b>1–4</b>
клас
</span>
</div>
</div>
<div class="link-register" ng-click="getGrades(460);" ng-class="{'active': event_id == 460}">
<div class="olymp-list__item elevation-1 border-3">
<img class="olymp-list__item-img" src="img/olymp6/img-list-7.svg">
<span class="olymp-list__item-title">Предмети початкової школи</span>
<span class="olymp-list__item-range">
<b>1–4</b>
клас
</span>
</div>
</div>
<div class="link-register" ng-click="getGrades(457);" ng-class="{'active': event_id == 457}">
<div class="olymp-list__item elevation-1 border-3">
<img class="olymp-list__item-img" src="uploads/event/99/icon_1587733976_art.png">
<span class="olymp-list__item-title">Мистецтво</span>
<span class="olymp-list__item-range">
<b>1–11</b>
клас
</span>
</div>
</div>
<div class="link-register" ng-click="getGrades(459);" ng-class="{'active': event_id == 459}">
<div class="olymp-list__item elevation-1 border-3">
<img class="olymp-list__item-img" src="img/olymp6/img-list-3.svg">
<span class="olymp-list__item-title">Основи здоров’я</span>
<span class="olymp-list__item-range">
<b>5–9</b>
клас
</span>
</div>
</div>
<div class="link-register" ng-click="getGrades(463);" ng-class="{'active': event_id == 463}">
<div class="olymp-list__item elevation-1 border-3">
<img class="olymp-list__item-img" src="img/olymp6/img-list-9.svg">
<span class="olymp-list__item-title">Трудове навчання (хлопці)</span>
<span class="olymp-list__item-range">
<b>5–9</b>
клас
</span>
</div>
</div>
<div class="link-register" ng-click="getGrades(462);" ng-class="{'active': event_id == 462}">
<div class="olymp-list__item elevation-1 border-3">
<img class="olymp-list__item-img" src="img/olymp6/img-list-15.svg">
<span class="olymp-list__item-title">Трудове навчання (дівчата)</span>
<span class="olymp-list__item-range">
<b>5–9</b>
клас
</span>
</div>
</div>
<div class="link-register" ng-click="getGrades(468);" ng-class="{'active': event_id == 468}">
<div class="olymp-list__item elevation-1 border-3">
<img class="olymp-list__item-img" src="uploads/event/468/icon_1694077617_nature-19.png">
<span class="olymp-list__item-title">Пізнаємо природу</span>
<span class="olymp-list__item-range">
<b style="font-size:16px;">5-6</b>
клас
</span>
</div>
</div>
<div class="link-register" ng-click="getGrades(469);" ng-class="{'active': event_id == 469}">
<div class="olymp-list__item elevation-1 border-3">
<img class="olymp-list__item-img" src="uploads/event/469/icon_1694078167_military-19.png">
<span class="olymp-list__item-title">Захист України</span>
<span class="olymp-list__item-range">
<b style="font-size:16px;">10-11</b>
клас
</span>
</div>
</div>
</div>
<div class="col-sm-6 col-md-4">
<div class="link-register" ng-click="getGrades(456);" ng-class="{'active': event_id == 456}">
<div class="olymp-list__item elevation-1 border-3">
<img class="olymp-list__item-img" src="img/olymp6/img-list-13.svg">
<span class="olymp-list__item-title">Математика</span>
<span class="olymp-list__item-range">
<b>1–11</b>
клас
</span>
</div>
</div>
<div class="link-register" ng-click="getGrades(464);" ng-class="{'active': event_id == 464}">
<div class="olymp-list__item elevation-1 border-3">
<img class="olymp-list__item-img" src="img/olymp6/img-list-2.svg">
<span class="olymp-list__item-title">Українська мова та література</span>
<span class="olymp-list__item-range">
<b>1–11</b>
клас
</span>
</div>
</div>
<div class="link-register" ng-click="getGrades(448);" ng-class="{'active': event_id == 448}">
<div class="olymp-list__item elevation-1 border-3">
<img class="olymp-list__item-img" src="img/olymp6/img-list-8.svg">
<span class="olymp-list__item-title">Англійська мова</span>
<span class="olymp-list__item-range">
<b>1–11</b>
клас
</span>
</div>
</div>
<div class="link-register" ng-click="getGrades(454);" ng-class="{'active': event_id == 454}">
<div class="olymp-list__item elevation-1 border-3">
<img class="olymp-list__item-img" src="img/olymp6/img-list-14.svg">
<span class="olymp-list__item-title">Інформатика</span>
<span class="olymp-list__item-range">
<b>1–11</b>
клас
</span>
</div>
</div>
<div class="link-register" ng-click="getGrades(450);" ng-class="{'active': event_id == 450}">
<div class="olymp-list__item elevation-1 border-3">
<img class="olymp-list__item-img" src="img/olymp6/img-list-5.svg">
<span class="olymp-list__item-title">Біологія</span>
<span class="olymp-list__item-range">
<b>6–11</b>
клас
</span>
</div>
</div>
<div class="link-register" ng-click="getGrades(465);" ng-class="{'active': event_id == 465}">
<div class="olymp-list__item elevation-1 border-3">
<img class="olymp-list__item-img" src="img/olymp6/img-list-17.svg">
<span class="olymp-list__item-title">Фізика</span>
<span class="olymp-list__item-range">
<b>7–11</b>
клас
</span>
</div>
</div>
<div class="link-register" ng-click="getGrades(466);" ng-class="{'active': event_id == 466}">
<div class="olymp-list__item elevation-1 border-3">
<img class="olymp-list__item-img" src="img/olymp6/img-list-11.svg">
<span class="olymp-list__item-title">Хімія</span>
<span class="olymp-list__item-range">
<b>7–11</b>
клас
</span>
</div>
</div>
</div>
<div class="col-sm-6 col-md-4">
<div class="link-register" ng-click="getGrades(455);" ng-class="{'active': event_id == 455}">
<div class="olymp-list__item elevation-1 border-3">
<img class="olymp-list__item-img" src="img/olymp6/img-list-4.svg">
<span class="olymp-list__item-title">Історія</span>
<span class="olymp-list__item-range">
<b>5–11</b>
клас
</span>
</div>
</div>
<div class="link-register" ng-click="getGrades(451);" ng-class="{'active': event_id == 451}">
<div class="olymp-list__item elevation-1 border-3">
<img class="olymp-list__item-img" src="img/olymp6/img-list-16.svg">
<span class="olymp-list__item-title">Географія</span>
<span class="olymp-list__item-range">
<b>6–11</b>
клас
</span>
</div>
</div>
<div class="link-register" ng-click="getGrades(453);" ng-class="{'active': event_id == 453}">
<div class="olymp-list__item elevation-1 border-3">
<img class="olymp-list__item-img" src="img/olymp6/img-list-10.svg">
<span class="olymp-list__item-title">Зарубіжна література</span>
<span class="olymp-list__item-range">
<b>5–11</b>
клас
</span>
</div>
</div>
<div class="link-register" ng-click="getGrades(458);" ng-class="{'active': event_id == 458}">
<div class="olymp-list__item elevation-1 border-3">
<img class="olymp-list__item-img" src="uploads/event/106/icon_1587733884_deutsche.png">
<span class="olymp-list__item-title">Німецька мова</span>
<span class="olymp-list__item-range">
<b>5–11</b>
клас
</span>
</div>
</div>
<div class="link-register" ng-click="getGrades(452);" ng-class="{'active': event_id == 452}">
<div class="olymp-list__item elevation-1 border-3">
<img class="olymp-list__item-img" src="img/olymp6/img-list-12.svg">
<span class="olymp-list__item-title">Громадянська освіта</span>
<span class="olymp-list__item-range">
<b>10</b>
клас
</span>
</div>
</div>
<div class="link-register" ng-click="getGrades(461);" ng-class="{'active': event_id == 461}">
<div class="olymp-list__item elevation-1 border-3">
<img class="olymp-list__item-img" src="img/olymp6/img-list-6.svg">
<span class="olymp-list__item-title">Правознавство</span>
<span class="olymp-list__item-range">
<b>9,11</b>
клас
</span>
</div>
</div>
<div class="link-register" ng-click="getGrades(449);" ng-class="{'active': event_id == 449}">
<div class="olymp-list__item elevation-1 border-3">
<img class="olymp-list__item-img" src="uploads/event/185/icon_1618226453_astronomy9.svg">
<span class="olymp-list__item-title">Астрономія</span>
<span class="olymp-list__item-range">
<b style="font-size:16px;">10-11</b>
клас
</span>
</div>
</div>
</div>
</div>
</section>
<section class="container olymp-advantages elevation-1 border-3">
<div class="row">
<div class="col-xs-12">
<div class="olymp-advantages__tabs">
<div class="olymp-advantages__tabs-header">
<ul role="tablist">
<li role="presentation" class="active">
<a href="https://naurok.com.ua/teacher" aria-controls="home" role="tab" data-toggle="tab">
Для вчителя
<small>Інструкції та переваги</small>
</a>
</li>
<li role="presentation">
<a href="https://naurok.com.ua/student" aria-controls="profile" role="tab" data-toggle="tab">
Для учня
<small>Інструкції та переваги</small>
</a>
</li>
</ul>
</div>
<div class="tab-content">
<div role="tabpanel" class="tab-pane active" id="teacher">
<div class="cotnainer-fluid olymp-advantages__tabs-body">
<div class="row">
<div class="col-md-6 border-right">
<span class="olymp-advantages__tabs-subtitle">
Переваги для вчителя
</span>
<ul class="text-left">
<li>Можливість організувати участь школярів у масштабній
Всеукраїнській інтернет-олімпіаді</li>
<li>Свідоцтво про підготовку учасників та призерів</li>
<li>Іменну подяку за активну участь (залучення більше 5
учасників)</li>
<li>Простий алгоритм участі (не потрібно надсилати
відповіді)</li>
<li>Аналіз відповідей і результатів учнів у зручному форматі
</li>
<li>Матеріали для роботи над помилками у класі</li>
</ul>
</div>
<div class="col-md-6">
<span class="olymp-advantages__tabs-subtitle">
Інструкції для вчителя
</span>
<ol class="text-left">
<li>Подати заявки на участь класів у олімпіаді.</li>
<li>Додати учнів у заявлені класи.</li>
<li>Роздрукувати паролі та роздати їх учасникам
<br>олімпіади.</li>
</ol>
</div>
</div>
</div>
</div>
<div role="tabpanel" class="tab-pane" id="student">
<div class="cotnainer-fluid olymp-advantages__tabs-body">
<div class="row">
<div class="col-md-6 border-right">
<span class="olymp-advantages__tabs-subtitle">
Переваги для учня
</span>
<ul class="text-left">
<li>Можливість безкоштовно взяти участь в онлайн-олімпіаді
</li>
<li>Яскраві нагороди для кожного учасника олімпіади</li>
<li>Можливість виконувати завдання з власного комп’ютера або
планшета</li>
<li>Завдання з різним рівнем складності, доступні більшості
</li>
<li>Перевірку рівня знань з улюбленого предмета</li>
<li>Цікаві різнотипні та інтерактивні завдання</li>
</ul>
</div>
<div class="col-md-6">
<span class="olymp-advantages__tabs-subtitle">
Інструкції для учня
</span>
<ol class="text-left">
<li>Зайти на сторінку naurok.ua/start, ввести наданий
вчителем пароль та обрати олімпіаду.</li>
<li>Виконати олімпіадні завдання у відведений для цього час.
</li>
<li>Після оголошення результатів отримати нагороди.</li>
</ol>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="container olymp-features">
<div class="row">
<div class="col-xs 12 text-center">
<h3>
Особливості формату олімпіад «На Урок»
</h3>
</div>
</div>
<div class="row">
<div class="col-md-4 text-center">
<div class="olymp-features__item">
<img src="img/olymp6/feature-1.svg" alt="" class="img-fluid">
<h5>Зручний онлайн-формат<br> для проходження</h5>
<p>
Відтепер немає потреби роздруковувати завдання. Інтернет-олімпіада проходить
дистанційно.
</p>
</div>
</div>
<div class="col-md-4 text-center">
<div class="olymp-features__item">
<img src="img/olymp6/feature-2.svg" alt="" class="img-fluid">
<h5>Відкриті результати<br> та справедливі оцінки</h5>
<p>
Якщо виконання онлайн-олімпіади відбувається під час уроку, її результати можна
зарахувати та перевести в оцінки.
</p>
</div>
</div>
<div class="col-md-4 text-center">
<div class="olymp-features__item">
<img src="img/olymp6/feature-3.svg" alt="" class="img-fluid">
<h5>Мотивація та заохочення<br> кожного школяра</h5>
<p>
Завдання розраховані на учнів із різним рівнем підготовки, тому кожен зможе
проявити себе та перевірити знання з предмета.
</p>
</div>
</div>
</div>
</section>
<section class="container olymp-awards elevation-1 border-3">
<div class="row">
<div class="col-md-4 col-md-offset-1">
<h3>Нагороди учням</h3>
<p>
Ми підтримуємо бажання кожного учня України спробувати свої сили в
інтернет-олімпіаді «На Урок». Тому, незалежно від результатів олімпіади, кожен
учасник отримає електронні сертифікати про участь.
</p>
</div>
<div class="col-md-6">
<div class="olymp-awards__items">
<div class="olymp-awards__item olymp-awards__item--amber">
<div class="olymp-awards__item-inner">
<a data-lightbox="cert" href="/uploads/olymp/19/" class="olymp6-award-preview"><img src="/uploads/olymp/19/" alt="" class="img-fluid"></a>
<span class="olymp-awards__item-description">І ступінь</span>
</div>
<small>
90-100 балів
</small>
</div>
<div class="olymp-awards__item olymp-awards__item--lightblue">
<div class="olymp-awards__item-inner">
<a data-lightbox="cert" href="/uploads/olymp/19/" class="olymp6-award-preview"><img src="/uploads/olymp/19/" alt="" class="img-fluid"></a>
<span class="olymp-awards__item-description">ІІ ступінь</span>
</div>
<small>
80-89 балів
</small>
</div>
<div class="olymp-awards__item olymp-awards__item--orange">
<div class="olymp-awards__item-inner">
<a data-lightbox="cert" href="/uploads/olymp/19/" class="olymp6-award-preview"><img src="/uploads/olymp/19/" alt="" class="img-fluid"></a>
<span class="olymp-awards__item-description">ІІІ ступінь</span>
</div>
<small>
70-79 балів
</small>
</div>
<div class="olymp-awards__item olymp-awards__item--mint">
<div class="olymp-awards__item-inner">
<a data-lightbox="cert" href="/uploads/olymp/19/" class="olymp6-award-preview"><img src="/uploads/olymp/19/" alt="" class="img-fluid"></a>
<span class="olymp-awards__item-description">сертифікат</span>
</div>
<small>
отримають усі учні
</small>
</div>
</div>
</div>
</div>
<div class="row olymp-awards__certificates">
<div class="col-md-4 col-md-offset-1">
<div class="olymp-awards__items olymp-awards__items--three">
<div class="olymp-awards__item olymp-awards__item--amber">
<div class="olymp-awards__item-inner">
<a data-lightbox="cert" href="/uploads/olymp/19/" class="olymp6-award-preview"><img src="/uploads/olymp/19/" alt="" class="img-fluid"></a>
<span class="olymp-awards__item-description olymp-awards__item-description--top olymp-awards__item-description--small">про
підготовку
переможця (-ів)</span>
</div>
</div>
<div class="olymp-awards__item olymp-awards__item--dirtycherry">
<div class="olymp-awards__item-inner">
<a data-lightbox="cert" href="/uploads/olymp/19/" class="olymp6-award-preview"><img src="/uploads/olymp/19/" alt="" class="img-fluid"></a>
<span class="olymp-awards__item-description olymp-awards__item-description--top olymp-awards__item-description--small">за
залучення 5
та більше учнів</span>
</div>
</div>
<div class="olymp-awards__item olymp-awards__item--magicforest">
<div class="olymp-awards__item-inner">
<a data-lightbox="cert" href="/uploads/olymp/19/" class="olymp6-award-preview"><img src="/uploads/olymp/19/" alt="" class="img-fluid"></a>
<span class="olymp-awards__item-description olymp-awards__item-description--top olymp-awards__item-description--small">про
підготовку
учнів</span>
</div>
<small>
отримають усі вчителі
</small>
</div>
</div>
</div>
<div class="col-md-4 col-md-offset-1 col-xl-3">
<h3>Для вчителів</h3>
<p>
Кожен учитель, чиї учні візьмуть участь в олімпіаді «На Урок», отримає свідоцтва та
подяки, які будуть підтвердженням професійної активності педагога та доповнять
учительське портфоліо.
</p>
</div>
</div>
</section>
<section class="container olymp-numbers">
<div class="row">
<div class="col-xs-12 text-center">
<h3>Олімпіади «На Урок» у цифрах</h3>
</div>
</div>
<div class="row">
<div class="col-md-4 olymp-numbers__wrapper">
<div class="olymp-numbers__item">
<div class="olymp-numbers__item-text">
<span class="olymp-numbers__item-count">3 094 689</span>
<span class="olymp-numbers__item-title">Загальна кількість учасників </span>
</div>
</div>
</div>
<div class="col-md-4 olymp-numbers__wrapper">
<div class="olymp-numbers__item">
<div class="olymp-numbers__item-text">
<span class="olymp-numbers__item-count">171 470</span>
<span class="olymp-numbers__item-title">Загальна кількість вчителів</span>
</div>
</div>
</div>
<div class="col-md-4 olymp-numbers__wrapper">
<div class="olymp-numbers__item">
<div class="olymp-numbers__item-text">
<span class="olymp-numbers__item-count">13 751</span>
<span class="olymp-numbers__item-title">Загальна кількість<br> шкіл</span>
</div>
</div>
</div>
</div>
</section>
<section class="container olymp-application elevation-1 border-3">
<div class="row olymp-application__row">
<div class="col-xs-12 col-md-6 text-center">
<h3>
Реєстрація класу на участь
<div style="font-size:14px;">(для вчителів та працівників закладів освіти)</div>
</h3>
<div class="olymp-application__tabs" style="margin:0 30px 50px;">
<div class="olymp-application__all-classes">
<p>Щоб заявити учнів на олімпіаду, необхідно бути зареєстрованим або авторизованим користувачем<br> сайту naurok.com.ua</p>
<a href="javascript:void(0)" data-toggle="modal" data-target="#registration" class="btn btn-orange olymp-btn olymp-btn--orange">Зареєструватися як вчитель</a>
</div>
</div>
</div>
<div class="col-xs-12 col-md-6 text-center">
<h3>
Індивідуальна участь
<div style="font-size:14px;">(для батьків та учнів 1-11 класів та ПТНЗ)</div>
</h3>
<div class="olymp-application__tabs" style="margin:0 30px 50px;">
<div class="olymp-application__all-classes">
<p>Щоб зареєструватися індивідуально на олімпіаду, необхідно мати аккаунт учня<br> на сайті naurok.ua</p>
<a href="https://naurok.ua/reg" class="btn btn-orange olymp-btn olymp-btn--orange">Зареєструватися як учень</a>
</div>
</div>
</div>
</div>
</section>
<section class="container olymp-qa">
<div class="row">
<div class="col-md-12" id="faq">
<h4>Відповіді на часті запитання</h4>
<div class="olymp-qa__answers">
<ul>
<li class="elevation-1 border-3">
<button class="collapsed" type="button" data-toggle="collapse" data-target="#answer-25" aria-expanded="false" aria-controls="collapseTwo">
Скільки завдань мають виконати учні? </button>
<div id="answer-25" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
<p>
<p>Кожен учень отримує 15 завдань з обраного предмета. На виконання всіх завдань дається&nbsp;45&nbsp;хвилин.&nbsp;</p> 
</div>
</li>
<li class="elevation-1 border-3">
<button class="collapsed" type="button" data-toggle="collapse" data-target="#answer-26" aria-expanded="false" aria-controls="collapseTwo">
Хто може взяти участь в інтернет-олімпіаді? </button>
<div id="answer-26" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
<p>
<p>До участі в інтернет-олімпіаді запрошуються учні шкіл, ліцеїв, гімназій, колегіумів, коледжів та ПТНЗ&nbsp;&ndash; закладів, що забезпечують здобуття загальної середньої освіти.&nbsp;</p> 
</div>
</li>
<li class="elevation-1 border-3">
<button class="collapsed" type="button" data-toggle="collapse" data-target="#answer-37" aria-expanded="false" aria-controls="collapseTwo">
Нашої школи немає у переліку закладів (або вона змінила назву). Чи можу я створити заявку? </button>
<div id="answer-37" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
<p>
<p>Так, можете без проблем. Також надішліть&nbsp;нам у розділ "Підтримка користувачів" (внизу сторінки) повну назву закладу освіти, аби ми могли додати його до списку.</p> 
</div>
</li>
<li class="elevation-1 border-3">
<button class="collapsed" type="button" data-toggle="collapse" data-target="#answer-40" aria-expanded="false" aria-controls="collapseTwo">
Чи потрібно реєструвати учнів на сайті naurok.com.ua? </button>
<div id="answer-40" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
<p>
<p>Ні, цього робити не треба. Доступи до олімпіади вказані на бланках з паролями, які роздруковує вчитель.</p> 
</div>
</li>
<li class="elevation-1 border-3">
<button class="collapsed" type="button" data-toggle="collapse" data-target="#answer-42" aria-expanded="false" aria-controls="collapseTwo">
На одному з етапів роботи з олімпіадою виникає помилка 404, що робити? </button>
<div id="answer-42" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
<p>
<p>Перевірте, чи активовано ваш акаунт. Оновіть сторінку та спробуйте повторити дію. Якщо змін не відбувається, пишіть у підтримку.</p> 
</div>
</li>
<li class="elevation-1 border-3">
<button class="collapsed" type="button" data-toggle="collapse" data-target="#answer-46" aria-expanded="false" aria-controls="collapseTwo">
Учень не може зайти до особистого кабінету для виконання завдань </button>
<div id="answer-46" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
<p>
<p>Слідкуйте за правильним введенням усіх даних!</p>
<p>Дані потрібно вводити так, як вказано на картках з кодами доступу. Враховуйте, де пишуться великі букви, де маленькі. Жодного зайвого пробілу не допускається! Використовуйте українську розкладку клавіатури.</p> 
</div>
</li>
</ul>
</div>
</div>
</div>
<div class="row">
<div class="col-xs-12 text-center olymp-qa__footer" style="display:block;">
<small>Залишились запитання?</small>
<p style="text-align:center; font-size:18px; line-height:1.5; margin-bottom:40px;">
Звертайтеся до служби підтримки у зручному для вас месенджері</p>
<div class="row">
<div class="col-md-2 col-md-offset-3">
<a href="https://m.me/342285386233793" target="_blank" class="text-center" style="display:block; text-decoration:none;">
<img src="img/facebook.svg" width="70px">
<div style="margin:13px 10px; border-radius:10px; padding:5px 10px; text-align:center; font-weight:bold; background: #00bbff; color:#fff;">
Facebook</div>
</a>
</div>
</div>
</div>
</div>
</section>
</main>
</div>
</div>
</div>
<style>
.field-recaptcha{
      display: none;
}
.grecaptcha-badge {
    visibility: hidden;
}
</style>
<footer class="site-footer">
<div class="site-footer__document-check">
<div class="container-fluid">
<form id="w5" action="/proof" method="POST">
<input type="hidden" name="_csrf" value="YQSnc3hSoc9vqcv789HY0-uoENt4unRZomnayhm3mqETfusXMCTCvwziqZa5mJLh3_wpuh7pHx_2PuiFdvHiyA=="> <div class="row">
<div class="col-xs-12 text-center">
<span class="site-footer__title">
Перевірка виданих документів
</span>
</div>
<div class="col-xs-12 text-center">
<small class="site-footer__title site-footer__title--small">
Вкажіть номер документа (використовуйте кириличну розкладку)
</small>
</div>
<div class="col-xs-12">
<div class="site-footer__form">
<div class="site-footer__input-wrapper">
<input type="text" name="number" value="" placeholder="ВXXX-XXXX">
</div>
<div class="site-footer__button-wrapper">
<button type="submit">ПЕРЕВІРИТИ</button>
</div>
</div>
</div>
</div>
</form> </div>
</div>
<div class="site-footer__main">
<div class="container-fluid">
<div class="row site-footer__main-row">
<div class="col-xs-6 col-md-3">
<ul class="site-footer__list">
<li>
<span class="site-footer__title">
Підвищення кваліфікації
</span>
</li>
<li><a class="site-footer__item" href="/upgrade">Підвищення кваліфікації</a></li>
<li><a class="site-footer__item" href="/webinar">Вебінари</a></li>
<li><a class="site-footer__item" href="/conference">Конференції</a></li>
<li><a class="site-footer__item" href="/courses">Курси</a></li>
</ul>
</div>
<div class="col-xs-6 col-md-3">
<ul class="site-footer__list">
<li>
<span class="site-footer__title">
Розділи
</span>
</li>
<li><a class="site-footer__item" href="/journal">Журнал</a></li>
<li><a class="site-footer__item" href="/biblioteka">Бібліотека розробок</a></li>
<li><a class="site-footer__item" href="/test">Тести</a></li>
<li><a class="site-footer__item" href="/labs">Лабораторні роботи</a></li>
<li><a class="site-footer__item" href="/project">Проєкти</a></li>
<li><a class="site-footer__item" href="/konkurs">Конкурси</a></li>
<li><a class="site-footer__item" href="olimpiada.html">Олімпіади</a></li>
<li><a class="site-footer__item" href="/assistant">Штучний інтелект для вчителів</a></li>
<li><a class="site-footer__item" href="https://naurok.ua/course/english">Курси англійської мови</a> </li></ul>
</div>
<div class="col-xs-6 col-md-3 site-footer__social">
<ul class="site-footer__list">
<li>
<span class="site-footer__title">
Про нас
</span>
</li>
<li><a class="site-footer__item" href="/page/about">Про «На Урок»</a></li>
<li><a class="site-footer__item" href="/school/request">Співпраця закладів освіти</a></li>
</ul>
<a href="/page/contact-us" class="button button--primary">
Зворотний зв'язок
</a>
<div class="site-footer__social-group">
<a target="_blank" href="https://www.youtube.com/channel/UCMCYaKTwZ1Olw1fuzLvgA_Q" class="site-footer__social-item site-footer__social-item--youtube">
<img src="img/footer/youtube-ico.svg" alt="">
</a>
<a target="_blank" href="https://www.facebook.com/naurok.com.ua/" class="site-footer__social-item site-footer__social-item--facebook">
<img src="img/footer/facebook-ico.svg" alt="">
</a>
<a target="_blank" href="https://t.me/naurok" class="site-footer__social-item site-footer__social-item--telegram">
<img src="img/footer/telegram-ico.svg" alt="">
</a>
</div>
</div>
<div class="col-xs-6 col-md-3">
<ul class="site-footer__list">
<li>
<span class="site-footer__title">
Інше
</span>
</li>
<li><a class="site-footer__item" href="https://naurok.ua">Вхід для учнів (naurok.ua)</a></li>
<li><a class="site-footer__item" href="/calendar">Матеріали до свят</a></li>
<li><a class="site-footer__item" href="/five">Конкурс «Фантастична п’ятірка»</a></li>
</ul>
</div>
</div>
<div class="row site-footer__copyright">
<div class="site-footer__copyright-info">
<div class="row">
<div class="col-xs-12 col-lg-6">
<small class="site-footer__title site-footer__title--small">
© 2017-2023, ТОВ «На Урок»
</small>
</div>
<div class="col-xs-12 col-lg-6 text-xl-right">
<a href="/page/terms-of-use" class="site-footer__title--small">Угода користувача</a> | <a href="/page/terms" class="site-footer__title--small">Умови користування</a> |
<a href="/page/privacy-policy" class="site-footer__title--small">Політика конфіденційності</a>
</div>
</div>
</div>
</div>
</div>
</div>
</footer>
<div class="modal fade" id="registration" tabindex="-1" role="dialog" aria-labelledby="registration">
<div class="modal-dialog modal-registration" role="document">
<div class="modal-content">
<div class="modal-body">
<div class="account-page account-registration" style="margin-top:10px">
<div class="row">
<div class="col-md-12 col-sm-12">
<div class="h1-block text-center" style="    margin: 0 0 10px;
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    color: #bdbdbd;">Реєстрація на сайті «На Урок»</div>
<div class="sth-form sth-form-white">
<div class="auth-clients">
<a class="facebook auth-link-facebook" href="/account/auth?authclient=facebook" title="Facebook">
<i class="fa fa-facebook-square" aria-hidden="true"></i> Зареєструватись за допомогою Facebook
</a>
</div>
<div class="auth-clients">
<a class="google auth-link-google" href="/account/auth?authclient=google" title="Facebook">
<i class="fa fa-google-plus-square" aria-hidden="true"></i> Зареєструватись за допомогою Google
</a>
</div>
<div class="auth-or">або</div>
<form id="w6" action="/registration" method="post">
<input type="hidden" name="_csrf" value="YQSnc3hSoc9vqcv789HY0-uoENt4unRZomnayhm3mqETfusXMCTCvwziqZa5mJLh3_wpuh7pHx_2PuiFdvHiyA==">
<div class="form-group field-lastname required">
<label class="control-label" for="lastname">Прізвище</label>
<input type="text" id="lastname" class="form-control input-lg" name="lastName" maxlength="255" placeholder="Вкажіть прізвище" aria-required="true">
<p class="help-block help-block-error"></p>
</div> <div class="form-group field-firstname required">
<label class="control-label" for="firstname">Ім&#039;я</label>
<input type="text" id="firstname" class="form-control input-lg" name="firstName" maxlength="255" placeholder="Вкажіть ім&#039;я" aria-required="true">
<p class="help-block help-block-error"></p>
</div> <div class="form-group field-email required">
<label class="control-label" for="email">Email</label>
<input type="text" id="email" class="form-control input-lg" name="email" placeholder="Вкажіть ваш email" aria-required="true">
<p class="help-block help-block-error"></p>
</div> <div class="form-group field-password required">
<label class="control-label" for="password">Пароль</label>
<input type="password" id="password" class="form-control input-lg" name="password" placeholder="Придумайте пароль" aria-required="true">
<p class="help-block help-block-error"></p>
</div> <div class="form-group field-recaptcha">
<label class="control-label" for="recaptcha"></label>
<input type="hidden" id="recaptcha" class="form-control" name="reCaptcha">
<p class="help-block help-block-error"></p>
</div>
<p style="margin-top:20px; text-align:center;">Реєструючись, ви погоджуєтеся з <a target="_blank" href="/page/terms-of-use">угодою користувача</a> та <a target="_blank" href="/page/privacy-policy">політикою конфіденційності</a>.</p>
<button type="submit" class="sth-btn-shaped sth-btn-shaped-lime btn-block">
Зареєструватись</button>
</form> <div class="text-center" style="margin-top:20px;">
Вже зареєстровані? <a class="sth-underline-reverse" href="https://naurok.com.ua/login">Спробуйте увійти</a> </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="modal fade" id="FacebookAlert" tabindex="-1" role="dialog" aria-labelledby="FacebookAlert">
<div class="modal-dialog" role="document">
<div class="modal-content modal-facebook">
<div class="modal-body">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
<div class="modal-message-title">Давай дружити!</div>
<div class="modal-message">Оновлення «На Урок» — в кожну стрічку Facebook</div>
<div class="modal-facebook-widget">
<div class="fb-page" data-href="https://www.facebook.com/naurok.com.ua" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/naurok.com.ua" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/naurok.com.ua">«На Урок». Освітній інтернет-проект</a></blockquote></div>
</div>
<div class="modal-close-link">
<a href="javascript:void(0)" data-dismiss="modal"> Дякую, Я вже давно з вами</a>
</div>
</div>
</div>
</div>
</div>
<div class="modal fade" id="SubscribeAlert" tabindex="-1" role="dialog" aria-labelledby="SubscribeAlert">
<div class="modal-dialog" role="document">
<div class="modal-content modal-email">
<div class="modal-body">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<i class="fa fa-paper-plane" aria-hidden="true"></i>
<div class="modal-message-title">Розсилка «На Урок»</div>
<div class="modal-message">Ми надсилатимемо наші цікаві та дуже корисні статті щоп’ятниці</div>
<div class="form-inline">
<div class="form-group">
<label class="sr-only" for="emailForm">Ваш e-mail</label>
<input type="email" class="form-control email-subscribe" id="emailForm" placeholder="Ваш e-mail">
</div>
<button type="submit" class="btn btn-primary btn-subscribe">Підписатись</button>
<div class="alert alert-success success-form hide">Дякуємо! Ми будемо тримати Вас в курсі!</div>
</div>
</div>
</div>
</div>
</div>
<script src="firebasejs/5.11.0/firebase.js"></script>
<script>
            // Initialize Firebase
            var config = {
                apiKey: "AIzaSyDqZNEmjh0EBu1hQqQR22QswP2ZFoOAnTE",
                authDomain: "naurok-com-ua.firebaseapp.com",
                databaseURL: "https://naurok-com-ua.firebaseio.com",
                projectId: "naurok-com-ua",
                storageBucket: "naurok-com-ua.appspot.com",
                messagingSenderId: "756484883010"
            };
            firebase.initializeApp(config);
        </script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "«На Урок»",
  "url": "https://naurok.com.ua",
  "logo": "https://naurok.com.ua/img/logo_new3.png",
  "sameAs": [
    "https://www.facebook.com/naurok.com.ua",
    "https://www.facebook.com/groups/naurok.com.ua/",
    "https://plus.google.com/116882310924056429434",
    "https://www.youtube.com/channel/UCMCYaKTwZ1Olw1fuzLvgA_Q"
  ]
}
</script>
<script src="recaptcha/api.js?render=6Lfj5vQUAAAAAOjsdAMk32BeA8J-E7c86_GWFvco"></script>
<script src="js/app_core.js?4.1"></script>
<script src="assets/cb30fc59caa0617bdb70be372b05a914/jquery.js"></script>
<script src="assets/af03f6b16f606305d9cf827034cc8968/yii.js"></script>
<script src="js/app_olymp.js?32"></script>
<script src="ajax/libs/bodymovin/5.5.1/lottie.min.js"></script>
<script src="js/animation.js?2"></script>
<script src="js/script.full.js?v1.2.5"></script>
<script src="assets/f0db75bd7fb3b61fd5c2b967f1a77e3e/js/bootstrap.js"></script>
<script src="assets/af03f6b16f606305d9cf827034cc8968/yii.activeForm.js"></script>
<script>jQuery(function ($) {

    $('.link-register').on('click', function(e) {
        e.preventDefault();
        scrollToDiv('#register');
    });

    $('#link-faq').on('click', function(e) {
        e.preventDefault();
        scrollToDiv('#faq');
    });

jQuery('.webinar-link').click(function(){ window.location.href=$(this).attr('data-url'); });
jQuery('#w5').yiiActiveForm([], []);
"use strict";
grecaptcha.ready(function() {
    grecaptcha.execute("6Lfj5vQUAAAAAOjsdAMk32BeA8J-E7c86_GWFvco", {action: "reg"}).then(function(token) {
        jQuery("#" + "recaptcha").val(token);

        const jsCallback = "";
        if (jsCallback) {
            eval("(" + jsCallback + ")(token)");
        }
    });
});
jQuery('#w6').yiiActiveForm([], []);
$('.btn-subscribe').click(function(){
            if($('.email-subscribe').val() != ''){
                Cookies.set('modal_subscribe', 'subscribed');
                $.post('/api/subscriber',{email:$('.email-subscribe').val(),_csrf:'YQSnc3hSoc9vqcv789HY0-uoENt4unRZomnayhm3mqETfusXMCTCvwziqZa5mJLh3_wpuh7pHx_2PuiFdvHiyA=='},function(data){
                    console.log(data);

                    $('.modal-email .alert').text('Дякуємо! Ми будемо тримати Вас в курсі!').removeClass('hide alert-warning').addClass('alert-success');
                }).fail(function(data) {
                    $('.modal-email .alert').text(data.responseJSON[0].message).removeClass('hide alert-success').addClass('alert-warning');
                });
            }
        })
});</script>
</div></body>
</html>
